<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="myApp">
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta charset="utf-8">

        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" href="bower_components/OnsenUI/css/onsenui.css"/>
        <link rel="stylesheet" href="bower_components/OnsenUI/css/onsen-css-components.css"/>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/OnsenUI/js/onsenui.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
        <title>Hello World</title>
    </head>
    <body>
      <ons-navigator title="Navigator" var="myNavigator">
        <ons-page>
          <ons-toolbar>
            <div class="center">社員一覧</div>
            <div class="right">
              <ons-toolbar-button onclick="myNavigator.pushPage('record.html', { animation : 'slide' } )">
                <ons-icon icon="fa-bars"></ons-icon>
              </ons-toolbar-button>
            </div>
          </ons-toolbar>
          <ons-list ng-controller="topController">
            <ons-list-item modifier="chevron" ng-repeat="user in users">
              <ons-row ng-click="myNavigator.pushPage('page1.html', {user: user}, { animation : 'slide' } )">
              {{user.name}}
              </ons-row>
            </ons-list-item>

          </ons-list>
        </ons-page>
      </ons-navigator>

      <ons-template id="page1.html">
        <ons-page ng-controller="detailController">
          <ons-toolbar>
            <div class="left">
              <ons-back-button>Back</ons-back-button>
            </div>
            <div class="center">{{user.name}}</div>
          </ons-toolbar>
          <div style="text-align: center; margin-top: 100px;">
            <div class="time">
              {{record.started_at}}
            </div>
            <div class="start_btn" ng-click="onclick()">
              START
            </div>
            <div class="time">
              {{record.ended_at}}
            </div>
            <div class="time">
              {{time_count}}
            </div>
          </div>
        </ons-page>
      </ons-template>

      <ons-template id="record.html">
        <ons-page>
          <ons-toolbar>
            <div class="left">
              <ons-back-button>Back</ons-back-button>
            </div>
            <div class="center">出勤記録</div>
          </ons-toolbar>
          <div style="text-align: center; margin-top: 100px;">
            <ons-button modifier="light" onclick="myNavigator.popPage()">
              Pop Page
            </ons-button>
          </div>
        </ons-page>
      </ons-template>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
